chimee-popup{
  position: absolute;
  color: #fff;
  background-color: rgba(88, 88, 88, 0.5);
  font-size: 13px;
  font-family: sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 3px;

  cm-pp-close{
    float: right;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    line-height: 14px;
    text-shadow: 0 0 1px #000;
    font-size: 15px;
    padding: 0 3px;
    cursor: pointer;
    opacity: .8;
    &:hover{
      opacity: 1;
    }
  }

  cm-pp-head,
  cm-pp-body{
    display: block;
    padding: 3px 3px 6px;
  }
  cm-pp-head{
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0 5px 4px;
    margin-bottom: 5px;
  }
  cm-pp-body{
    font-size: 12px;
  }
}